.status_graph_view
    .row
        .col.graph_view
            h1#status_title
               | Status Graph
            br 
            canvas(id='status_graph', width='700', height='400')
        .col.status_content
            br 
            h3="대기오염 정보"
            table.table.table-striped
                thead
                    tr
                    th(scope='col')
                        span
                            | CAI
                            br
                            | 통합대기지수
                    th(scope='col')
                        span
                            | Grade
                    th(scope='col')
                        span
                            | PM10
                            br
                            | 미세먼지
                    th(scope='col')
                        span
                            | Grade
                    th(scope='col')
                        span
                            | O3
                            br
                            | 오존
                    th(scope='col')
                        span
                            | Grade
                tbody
                    tr
                    // cai 
                    if (caiGrade == 1)
                       td.cai(style={color: '#2e73c7'}) #{cai}
                       td.caig(style={color: '#2e73c7'}) #{caiGrade}
                    if (caiGrade == 2)
                       td.cai(style={color: '#119e7b'}) #{cai}
                       td.caig(style={color: '#119e7b'}) #{caiGrade}
                    if (caiGrade == 3)
                       td.cai(style={color: '#d17d2e'}) #{cai}
                       td.caig(style={color: '#d17d2e'}) #{caiGrade}
                    if (caiGrade == 4)
                       td.cai(style={color: '#ce2121'}) #{cai}
                       td.caig(style={color: '#ce2121'}) #{caiGrade}
                    
                    //pm10   
                    if (pm10Grade1h == 1)
                       td.pm10(style={color: '#2e73c7'}) #{pm10}
                       td.pm10g(style={color: '#2e73c7'}) #{pm10Grade1h}
                    if (pm10Grade1h == 2)
                       td.pm10(style={color: '#119e7b'}) #{pm10}
                       td.pm10g(style={color: '#119e7b'}) #{pm10Grade1h}
                    if (pm10Grade1h == 3)
                       td.pm10(style={color: '#d17d2e'}) #{pm10}
                       td.pm10g(style={color: '#d17d2e'}) #{pm10Grade1h}
                    if (pm10Grade1h == 4)
                       td.pm10(style={color: '#ce2121'}) #{pm10}
                       td.pm10g(style={color: '#ce2121'}) #{pm10Grade1h}

                    //o3        
                    if (o3Grade == 1)
                       td.o3(style={color: '#2e73c7'}) #{o3}
                       td.o3g(style={color: '#2e73c7'}) #{o3Grade}
                    if (o3Grade == 2)
                       td.o3(style={color: '#119e7b'}) #{o3}
                       td.o3g(style={color: '#119e7b'}) #{o3Grade}
                    if (o3Grade == 3)
                       td.o3(style={color: '#d17d2e'}) #{o3}
                       td.o3g(style={color: '#d17d2e'}) #{o3Grade}
                    if (o3Grade == 4)
                       td.o3(style={color: '#ce2121'}) #{o3}
                       td.so3g(style={color: '#ce2121'}) #{o3Grade}

                thead
                    tr
                    th(scope='col')
                        span
                            | SO2
                            br
                            | 아황산가스
                    th(scope='col')
                        span
                            | Grade
                    th(scope='col')
                        span
                            | CO
                            br
                            | 일산화탄소
                    th(scope='col')
                        span
                            | Grade
                    th(scope='col')
                        span
                            | NO2
                            br
                            | 이산화질소
                    th(scope='col')
                        span
                            | Grade
                tbody
                    tr
                    //so2
                    if (so2Grade == 1)
                       td.so2(style={color: '#2e73c7'}) #{so2}
                       td.so2g(style={color: '#2e73c7'}) #{so2Grade}
                    if (so2Grade == 2)
                       td.so2(style={color: '#119e7b'}) #{so2}
                       td.so2g(style={color: '#119e7b'}) #{so2Grade}
                    if (so2Grade == 3)
                       td.so2(style={color: '#d17d2e'}) #{so2}
                       td.so2g(style={color: '#d17d2e'}) #{so2Grade}
                    if (so2Grade == 4)
                       td.so2(style={color: '#ce2121'}) #{so2}
                       td.so2g(style={color: '#ce2121'}) #{so2Grade}
                    
                    //co
                    if (coGrade == 1)
                       td.co(style={color: '#2e73c7'}) #{co}
                       td.cog(style={color: '#2e73c7'}) #{coGrade}
                    if (coGrade == 2)
                       td.co(style={color: '#119e7b'}) #{co}
                       td.cog(style={color: '#119e7b'}) #{coGrade}
                    if (coGrade == 3)
                       td.co(style={color: '#d17d2e'}) #{co}
                       td.cog(style={color: '#d17d2e'}) #{coGrade}
                    if (so2Grade == 4)
                       td.co(style={color: '#ce2121'}) #{co}
                       td.cog(style={color: '#ce2121'}) #{coGrade}
                    
                    //no2   
                    if (no2Grade == 1)
                       td.no2(style={color: '#2e73c7'}) #{no2}
                       td.no2g(style={color: '#2e73c7'}) #{no2Grade}
                    if (no2Grade == 2)
                       td.no2(style={color: '#119e7b'}) #{no2}
                       td.no2g(style={color: '#119e7b'}) #{no2Grade}
                    if (no2Grade == 3)
                       td.no2(style={color: '#d17d2e'}) #{no2}
                       td.no2g(style={color: '#d17d2e'}) #{no2Grade}
                    if (no2Grade == 4)
                       td.no2(style={color: '#ce2121'}) #{no2}
                       td.no2g(style={color: '#ce2121'}) #{no2Grade}

            p.date=data + " 기준"
            br
            br
            img.relative#grade(src='img/grade.png' width='740')




//- extends ../layout

//- block content
//-     .info_view
//-         div.graph_view
//-             h1="Status Graph"
//-             br
//-             br

//-             canvas(id='status_graph', width='550', height='350')
        
//-         div#info_container
//-             br
//-             h3="대기오염 정보"
//-             table.table
//-                 thead
//-                     tr
//-                     th(scope='col')
//-                         span
//-                             | CAI
//-                             br
//-                             | 통합대기지수
//-                     th(scope='col')
//-                         span
//-                             | PM10
//-                             br
//-                             | 미세먼지
//-                     th(scope='col')
//-                         span
//-                             | O3
//-                             br
//-                             | 오존
//-                 tbody
//-                     tr
//-                     td.con=cai
//-                     td.con=pm10
//-                     td.con=o3
//-                 thead
//-                     tr
//-                     th(scope='col')
//-                         span
//-                             | SO2
//-                             br
//-                             | 아황산가스
//-                     th(scope='col')
//-                         span
//-                             | CO
//-                             br
//-                             | 일산화탄소
//-                     th(scope='col')
//-                         span
//-                             | NO2
//-                             br
//-                             | 이산화질소
//-                 tbody
//-                     tr
//-                     td.con=so2
//-                     td.con=co
//-                     td.con=no2
//-             .p.date=data + " 기준"
