.info_view
  .row
    .col
      //- div#map_container
      div#map2
    .col
      br
      h2.finedust finddust
        div#info_con 
         div#finedust_info        
          h2.f_info 실외 오염물질 안내
          h2.f_info2 Outdoor Pollutant Guidance
          .btn-group
             button.btn.btn-dark.bt1(type='button') PM10
             button.btn.btn-dark.bt2(type='button') PM2.5
             button.btn.btn-dark.bt3(type='button') O3
             button.btn.btn-dark.bt4(type='button') SO2
             button.btn.btn-dark.bt5(type='button') CO
             button.btn.btn-dark.bt6(type='button') NO2

          div#infoimg
           div#pm10_img
             img.relative.imgpm10(src='img/pm10.png' width="94%")
           div#pm25_img  
             img.relative.imgpm25(src='img/pm25.png' width="94%")
           div#o3_img  
             img.relative.imgo3(src='img/o3.png' width="94%")   
           div#so2_img  
             img.relative.imgso2(src='img/so2.png' width="94%")   
           div#co_img  
             img.relative.imgco(src='img/co.png' width="94%")   
           div#no2_img  
             img.relative.imgno2(src='img/no2.png' width="94%")  


      case pm10Grade1h
       default   
        div#info_bg0
          h2.date=data
          img.relative.gps2(src='img/gps.png' width="10%")
          if (mycity == none) 
           h3.mycity 
            | 현재위치 :&nbsp 
            strong  강남구 
          else 
             h3.mycity 
              | 현재위치 :&nbsp 
              strong  #{mycity}
          h2.infotitle 실시간 미세먼지(pm10) 농도
          h3.con #{pm10}  ㎍/㎥
          h3.cong pm10 grade : #{pm10Grade1h}
          h3.state
           h3.state_d(style={color: '#333333'}) 등급 측정중
           div#img
             img.relative(src='img/bad2.png' width="36%")
           div#img2  
             img.relative(src='img/info_line.png' width="75%")    
           div.buttons
            //button.btn.btn-outline-dark.pm10Button1(type='button') pm10 
            case pm25Grade1h
             when "1"
              //button.btn.btn-outline-dark.pm25Button1(type='button') pm2.5
              span.badge.badge-pill.badge-dark.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra_d(style={color: '#333333'}) 등급 측정중
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#2e73c7'}) very good
             when "2"
              //button.btn.btn-outline-dark.pm25Button2(type='button') pm2.5 
              span.badge.badge-pill.badge-dark.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra_d(style={color: '#333333'}) 등급 측정중 
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#119e7b'}) good
             when "3"
              //button.btn.btn-outline-dark.pm25Button3(type='button') pm2.5 
              span.badge.badge-pill.badge-dark.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra_d(style={color: '#333333'}) 등급 측정중
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#d17d2e'}) bad
             when "4"  
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5 
              span.badge.badge-pill.badge-dark.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra_d(style={color: '#333333'}) 등급 측정중 
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#ce2121'}) very bad
             
             default 
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5 
              span.badge.badge-pill.badge-dark.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra_d(style={color: '#333333'}) 등급 측정중
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_d(style={color: '#333333'}) 등급 측정중
         


       when "1"
         div#info_bg1
          h2.date=data
          img.relative.gps(src='img/gps.png' width="10%")
          if (mycity == none) 
           h3.mycity 
            | 현재위치 :&nbsp 
            strong  강남구 
          else 
             h3.mycity 
              | 현재위치 :&nbsp 
              strong  #{mycity}
          h2.infotitle 실시간 미세먼지(pm10) 농도
          h3.con #{pm10}  ㎍/㎥
          h3.cong pm10 grade : #{pm10Grade1h}
          h3.state
           h3.state1(style={color: '#2e73c7'}) very good
           div#img
             img.relative(src='img/good_blue.png' width="36%")
           div#img2  
             img.relative(src='img/info_line.png' width="75%")    
           div.buttons
            //button.btn.btn-outline-dark.pm10Button1(type='button') pm10 
            case pm25Grade1h
             when "1"
              //button.btn.btn-outline-dark.pm25Button1(type='button') pm2.5
              span.badge.badge-pill.badge-primary.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#2e73c7'}) very good
              span.badge.badge-pill.badge-primary.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#2e73c7'}) very good
             when "2"
              //button.btn.btn-outline-dark.pm25Button2(type='button') pm2.5 
              span.badge.badge-pill.badge-primary.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#2e73c7'}) very good
              span.badge.badge-pill.badge-success.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#119e7b'}) good
             when "3"
              //button.btn.btn-outline-dark.pm25Button3(type='button') pm2.5 
              span.badge.badge-pill.badge-primary.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#2e73c7'}) very good
              span.badge.badge-pill.badge-warning.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#d17d2e'}) bad
             when "4"  
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5 
              span.badge.badge-pill.badge-primary.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#2e73c7'}) very good
              span.badge.badge-pill.badge-danger.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#ce2121'}) very bad
             
             default
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5  
              span.badge.badge-pill.badge-primary.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#2e73c7'}) very good
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_d(style={color: '#333333'}) 등급 측정중

       when "2" 
         div#info_bg2
          h2.date=data
          img.relative.gps(src='img/gps.png' width="10%")
          if (mycity == none) 
           h3.mycity 
            | 현재위치 :&nbsp 
            strong  강남구 
          else 
             h3.mycity 
              | 현재위치 :&nbsp 
              strong  #{mycity}
          h2.infotitle 실시간 미세먼지(pm10) 농도
          h3.con #{pm10}  ㎍/㎥
          h3.cong pm10 grade : #{pm10Grade1h}
          h3.state
           h3.state2(style={color: '#119e7b'}) good
           div#img
             img.relative(src='img/soso_green.png' width="36%") 
           div#img2  
             img.relative(src='img/info_line.png' width="75%")    
           div.buttons
            //button.btn.btn-outline-dark.pm10Button2(type='button') pm10 
            case pm25Grade1h
             when "1"
              //button.btn.btn-outline-dark.pm25Button1(type='button') pm2.5
              span.badge.badge-pill.badge-success.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#119e7b'}) good
              span.badge.badge-pill.badge-primary.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#2e73c7'}) very good
             when "2"
              //button.btn.btn-outline-dark.pm25Button2(type='button') pm2.5 
              span.badge.badge-pill.badge-success.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#119e7b'}) good
              span.badge.badge-pill.badge-success.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#119e7b'}) good
             when "3"
              //button.btn.btn-outline-dark.pm25Button3(type='button') pm2.5 
              span.badge.badge-pill.badge-success.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#119e7b'}) good
              span.badge.badge-pill.badge-warning.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#d17d2e'}) bad
             when "4"  
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5 
              span.badge.badge-pill.badge-success.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#119e7b'}) good
              span.badge.badge-pill.badge-danger.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#ce2121'}) very bad
             default
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5  
              span.badge.badge-pill.badge-success.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#119e7b'}) good
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_d(style={color: '#333333'}) 등급 측정중 
              
       when "3" 
         div#info_bg3
          h2.date=data
          img.relative.gps(src='img/gps.png' width="10%")
          if (mycity == none) 
           h3.mycity 
            | 현재위치 :&nbsp 
            strong  강남구 
          else 
             h3.mycity 
              | 현재위치 :&nbsp 
              strong  #{mycity}
          h2.infotitle 실시간 미세먼지(pm10) 농도
          h3.con #{pm10}  ㎍/㎥
          h3.cong pm10 grade : #{pm10Grade1h}
          h3.state
           h3.state2(style={color: '#d17d2e'}) bad
           div#img
             img.relative(src='img/bad_orange.png' width="36%")
           div#img2  
             img.relative(src='img/info_line.png' width="75%")    
           div.buttons
            //button.btn.btn-outline-dark.pm10Button3(type='button') pm10 
            case pm25Grade1h
             when "1"
              //button.btn.btn-outline-dark.pm25Button1(type='button') pm2.5
              span.badge.badge-pill.badge-warning.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#d17d2e'}) bad
              span.badge.badge-pill.badge-primary.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#2e73c7'}) very good
             when "2"
              //button.btn.btn-outline-dark.pm25Button2(type='button') pm2.5 
              span.badge.badge-pill.badge-warning.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#d17d2e'}) bad
              span.badge.badge-pill.badge-success.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#119e7b'}) good
             when "3"
              //button.btn.btn-outline-dark.pm25Button3(type='button') pm2.5 
              span.badge.badge-pill.badge-warning.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#d17d2e'}) bad
              span.badge.badge-pill.badge-warning.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#d17d2e'}) bad
             when "4"  
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5 
              span.badge.badge-pill.badge-warning.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#d17d2e'}) bad
              span.badge.badge-pill.badge-danger.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#ce2121'}) very bad
             default 
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5  
              span.badge.badge-pill.badge-warning.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#d17d2e'}) bad
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_d(style={color: '#333333'}) 등급 측정중  

       when "4" 
         div#info_bg4
          h2.date=data
          img.relative.gps(src='img/gps.png' width="10%")
          if (mycity == none) 
           h3.mycity 
            | 현재위치 :&nbsp 
            strong  강남구 
          else 
             h3.mycity 
              | 현재위치 :&nbsp 
              strong  #{mycity}
          h2.infotitle 실시간 미세먼지(pm10) 농도
          h3.con #{pm10}  ㎍/㎥
          h3.cong pm10 grade : #{pm10Grade1h}
          h3.state
           h3.state1(style={color: '#ce2121'}) very bad
           div#img
             img.relative(src='img/worst_red.png' width="36%")
           div#img2  
             img.relative(src='img/info_line.png' width="75%")    
           div.buttons
            //button.btn.btn-outline-dark.pm10Button4(type='button') pm10 
            case pm25Grade1h
             when "1"
              //button.btn.btn-outline-dark.pm25Button1(type='button') pm2.5
              span.badge.badge-pill.badge-danger.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#ce2121'}) very bad
              span.badge.badge-pill.badge-primary.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#2e73c7'}) very good
             when "2"
              //button.btn.btn-outline-dark.pm25Button2(type='button') pm2.5 
              span.badge.badge-pill.badge-danger.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#ce2121'}) very bad
              span.badge.badge-pill.badge-success.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#119e7b'}) good
             when "3"
              //button.btn.btn-outline-dark.pm25Button3(type='button') pm2.5 
              span.badge.badge-pill.badge-danger.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#ce2121'}) very bad
              span.badge.badge-pill.badge-warning.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#d17d2e'}) bad
             when "4"  
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5 
              span.badge.badge-pill.badge-danger.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#ce2121'}) very bad
              span.badge.badge-pill.badge-danger.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_2(style={color: '#ce2121'}) very bad
             default 
              //button.btn.btn-outline-dark.pm25Button4(type='button') pm2.5  
              span.badge.badge-pill.badge-danger.pm10 미세먼지 
              h3.pm10_text #{pm10} ㎍/㎥
              h3.pm10_gra(style={color: '#d17d2e'}) bad
              span.badge.badge-pill.badge-dark.pm25_2 초미세먼지
              h3.pm25_text_2 #{pm25} ㎍/㎥ 
              h3.pm25_gra_d(style={color: '#333333'}) 등급 측정중    
       



     
   
     
        

//- extends ../layout

//- block content
    .info_view
        div#map_container
        
        div#info_container
            br
            br
            h2.date=data
            h2.finedust Real-time fine dust concentration

            div#info
             //h3.con= sidoName + stationName
             h3.con= pm10 + " ㎍/㎥"
             h3.con= pm10Grade1h

             if (pm10Grade1h == 1)
              h3.state(style={color: '#2e73c7'}) very good
            
             if (pm10Grade1h == 2)
              h3.state(style={color: '#119e7b'}) good
            
             if (pm10Grade1h == 3)
              h3.state(style={color: '#d17d2e'}) bad
               
             if (pm10Grade1h == 4)
              h3.state(style={color: '#ce2121'}) very bad
              

             


            div#img
             
             if (pm10Grade1h == 1)
               img.relative(src='img/good2.png' width="130")
       
             if (pm10Grade1h == 2)
               img.relative(src='img/soso2.png' width="130")

             if (pm10Grade1h == 3)
               img.relative(src='img/bad3.png' width="130")

             if (pm10Grade1h == 4)
               img.relative(src='img/worst2.png' width="130")
          

